[Desktop Entry]
Name=Wekan
Exec=webapp-container --app-id="wekan.wekanteam" --webappUrlPatterns https://boards.wekan.team
Icon=assets/logo.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true
